---
import NavBar from "./NavBar.astro"
import Header from "./Header.astro"
---

<div class="container-fluid">
    <NavBar />
    <Header />
    <main class="w-full max-w-[60%] mx-auto my-10 p-5 text-white">
    </main>
</div>